<% changesets.each do |changeset| %>
    <%
        @repository = changeset.repository
        @rev = changeset.identifier
    %>
    <div class="changeset <%= cycle('odd', 'even') %>">
    <p>
      <%= link_to_revision(changeset, changeset.repository, :text => "#{l(:label_revision)} #{changeset.format_identifier}") %>
      @
      <%= link_to(@repository.identifier, {:controller => 'repositories', :action => 'show', :id => @project, :repository_id => @repository.identifier, :path => to_path_param(@path)}) %>
      (<em><%= l(:label_branch) %>: <%= links_to_branches.join(', ').html_safe %></em>)
      <br/>
      <span class="author"><%= authoring(changeset.committed_on, changeset.author) %></span>
    </p>
    <div class="wiki">
        <%= textilizable(changeset, :comments) %>
    </div>
    </div>
<% end %>
